@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}


.body {
  //background-image: url("../../assets/Img/ingredients-homemade-pizza_35641-2533.jpg");
  //background-position: center;
 // background-size: cover;
  // linear-gradient(#4A4E69,#9A8C98,#C9ADA7,#4A4E69);
  width: 100%;

  .container {
    // margin-top: 50px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
      min-width: 500px;

      .card-title {
        font-family: Montserrat-Medium;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      }

      .form-group {
        .ng-valid,
        .ng-valid.required {
          border-color: lightgreen;
        }

        .error-message {
          color: red;
        }
      }
    }
  }
}
