@import "node_modules/bootstrap/scss/bootstrap.scss";

.dashboard {
  display: flex;
  flex-direction: column;
}
.example-spacer {
  flex: 1 1 auto;
}

.content {
  margin: 1rem;
  h1 {
    text-align: center;
    color: black;
    font-family: serif;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  mat-divider {
    margin: 1rem;
  }

  .vertical-nav {
    //background-color:#f2e9e4;
    float: left;
    height: auto;
    margin-bottom: 10px;

    .navbar {
      // margin: 10px 0;
      padding: 0;
      width: inherit;
      background-color: #c9ada7;
      font-weight: bold;

      .navbar-nav,
      .nav-item {
        width: inherit;
      }

      a {
        text-align: center;
        color: black;
      }
      .active {
        background-color: white;
        color: #22223b;
      }

      a:hover:not(.active) {
        background: #22223b;
        color: white;
      }
    }
  }

  .details {
    padding: 2rem;
    background-color: whitesmoke;
    float: right;
    height: auto;
    align-items: center;
    // width: 80;

    .container {
      background-color: white;
      table {
        width: 100%;

        .mat-header-cell {
          font-weight: bold;
          font-size: 1rem;
          color: black;
        }
      }
    }
  }
}
