.content {
  .left-part {
    .overlay {
      .img-fluid {
        padding-top: 8rem;
      }
    }
    float: left;
    height: auto;
  }

  .right-part {
    float: right;

    .card:hover {
      box-shadow: 0 16px 16px #22223b;
    }

    .card {
      margin: 1rem;
      align-items: center;

      .h2 {
        font-family: Montserrat-Medium;
        font-weight: bold;
      }

      .mat-divider {
        margin: 1rem;
        border-top-width: 2px;
      }

      .form-group {
        .ng-valid,
        .ng-valid.required {
          border-color: lightgreen;
        }

        .error-message {
          color: rgb(224, 16, 16);
        }
      }
    }
  }
}
