<div class="main container-fluid">
  <div class="content">
    <div class="container-fluid col-md-6 left-part">
      <div class="overlay d-none d-md-block">
        <img class="img-fluid" src="../../assets/Img/donate.PNG" />
      </div>
    </div>
    <div class="container-fluid col-md-6 right-part">
      <div class="card mat-elevation-z8">
        <div class="card-body">
          <h2 class="card-title text-center">Donation Form</h2>
          <mat-divider></mat-divider>
          <form  class="donation-form">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputFirstName">First Name</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="FirstName"  required />
              </div>
              <div class="form-group col-md-6">
                <label for="inputLastName">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="LastName" required />
              </div>
            </div>
            <div class="form-group">
              <label for="inputemail">Email</label>
              <input type="email" class="form-control" id="inputemail" placeholder="Email" required/>
            </div>
            <div class="form-group">
              <label for="inputphonenumber">Phone Number</label>
              <input type="text" class="form-control" id="inputphonenumber" placeholder="Phone Number" />
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputAmount">Amount</label>
                <input type="text" class="form-control" id="inputAmount" placeholder="$ 0.0" />
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block my-4" (click)="openDialog()">Donate</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
