header.title-head {
  position: relative;
  background-color: #4A4E69;
  background: url("./../../assets/Img/board-bread-breakfast-bunch-349610.jpg") no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  h1 {
    font-size: 3rem;
    color: black;
    font-weight: bold;
    font-family: "Lucida Console", Monaco, monospace;
  }
}

.list-icons {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background: #f2e9e4;

  .list-icons-item {
    max-width: 20rem;

    .list-icons-icon {
      height: 5rem;

      mat-icon {
        font-size: 2.5rem;
        color: #22223b;
      }
    }
  }

  .list-icons-item:hover {
    .list-icons-icon {
      mat-icon {
        font-size: 3.5rem;
        color: #a53860;
      }
    }
  }
}
